<%- include("header") -%>

    <h2>This app is created by Md. Fahad Rahman</h2>

    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tempora est temporibus earum ab minima. Quasi, impedit nemo quibusdam odio error neque veritatis nostrum inventore beatae repudiandae laboriosam. Pariatur, dolor voluptate.</p>

<%- include("footer") -%>